body {
    background: black;
    font-family: "Oswald", sans-serif;
    font-style: italic;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.glitch, .glow {
    color: #dfbfbf;
    position: relative;
    font-size: 9vw;
    animation: glitch 5s 5s infinite;
}

.glitch::before,.glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;   
}

.glitch::after, .glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    3.3333333333% {
        clip-path: inset(8px 0 87px 0);
    }
    6.6666666667% {
        clip-path: inset(81px 0 8px 0);
    }
    10% {
        clip-path: inset(46px 0 16px 0);
    }
    13.3333333333% {
        clip-path: inset(87px 0 10px 0);
    }
    16.6666666667% {
        clip-path: inset(8px 0 87px 0);
    }
    20% {
        clip-path: inset(46px 0 47px 0);
    }
    23.3333333333% {
        clip-path: inset(86px 0 7px 0);
    }
    26.6666666666% {
        clip-path: inset(54px 0 20px 0);
    }
    30% {
        clip-path: inset(34px 0 65px 0);
    }
    33.3333333333% {
        clip-path: inset(78px 0 22px 0);
    }
    36.6666666666% {
        clip-path: inset(65px 0 23px 0);
    }
}